<IfModule mod_headers.c>
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains" env=HTTPS
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
    Header set Content-Security-Policy "default-src 'self'; img-src 'self'; style-src 'self' 'https://fonts.googleapis.com'; font-src 'self' 'https://fonts.gstatic.com';"
    Header set Referrer-Policy "no-referrer"
</IfModule>
